# This gitignore file is for project: F103RB_canbus_example_right
Debug/USB_Device
Debug/app
Debug/Core
Debug/Drivers
Debug/Middlewares
Debug/*.bat
Release
.svn/
.metadata
.launches
.config
a_test_git.c
*.obj
*.d
*.mk
*.out
*.opt
*.bin
*.log
*.bak
# new ignore files:
ccslicense.lic
Debug__GNU
Flash_info
Doc/html
Doc/latex
Doc2/html
Doc2/docs/*.png
DOC/temp_code
DOC/debuger_info

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
#*.hex


*.srec
Debug/post_build_results.txt
*.list
*.zip
*.hex
Debug/makefile
.cproject
.mxproject
